stages:
  - build
  - test

# image: alpine

build_a:
  tags:
    - clean
  stage: build
  script:
    - echo "This job builds something."

build_b:
  tags:
    - clean
  stage: build
  script:
    - echo "This job builds something else."

test_a:
  tags:
    - clean
  stage: test
  script:
    - echo "This job tests something. It will only run when all jobs in the"
    - echo "build stage are complete."

test_b:
  tags:
    - clean
  stage: test
  script:
    - echo "This job tests something else. It will only run when all jobs in the"
    - echo "build stage are complete too. It will start at about the same time as test_a."