stages:
  - build
  - test
  - deploy


build_a:
  tags:
    - ubuntu
  stage: build
  script:
    - echo "This job builds something."

build_b:
  tags:
    - ubuntu
  stage: build
  script:
    - echo "This job builds something else."

test_a:
  tags:
    - ubuntu
  stage: test
  script:
    - echo "This job tests something. It will only run when all jobs in the"
    - echo "build stage are complete."

test_b:
  tags:
    - ubuntu
  stage: test
  script:
    - echo "This job tests something else. It will only run when all jobs in the"
    - echo "build stage are complete too. It will start at about the same time as test_a."

deploy_a:
  tags:
    - ubuntu
  stage: deploy
  script:
    - echo "This job deploys something. It will only run when all jobs in the"
    - echo "test stage complete."

deploy_b:
  tags:
    - ubuntu
  stage: deploy
  script:
    - echo "This job deploys something else. It will only run when all jobs in the"
    - echo "test stage complete. It will start at about the same time as deploy_a."