stages:
  - build
  - test

# image: alpine

build_a:
  tags:
    - clean
  image: golang:latest
  stage: build
  script:
    - echo "This job builds something."
    - ls
    - make build
    - id
  artifacts:
    paths:
      - bin/hello


build_b:
  tags:
    - clean
  stage: build
  script:
    - echo "This job builds something else."
    - sleep 1000

build_c:
  parallel: 3
  tags:
    - clean
  image: alpine:latest
  stage: build
  script:
    echo "final build step running.."
    - sleep 1000
  
test_a:
  tags:
    - clean
  stage: test
  script:
    - echo "This job tests something. It will only run when all jobs in the"
    - echo "build stage are complete."

test_b:
  tags:
    - clean
  stage: test
  script:
    - echo "This job tests something else. It will only run when all jobs in the"
    - echo "build stage are complete too. It will start at about the same time as test_a."