stages:
  - build
  - test

# image: alpine
default:
  tags:
    - clean
  image: ubuntu:20.04
  services:
    - name: nginx
      alias: mock

build_a:
  image: golang:latest
  stage: build
  script:
    - echo "This job builds something."
    - ls
    - make build
    - id
  artifacts:
    paths:
      - bin/hello


build_b:
  tags:
    clean
  image: ubuntu:20.04
  stage: build
  script:
    - echo "This job builds something else."
    - docker ps -a
    - curl -i mock

build_c:
  parallel: 2
  image: alpine:latest
  stage: build
  script:
    echo "final build step running.."
  
test_a:
  stage: test
  script:
    - echo "This job tests something. It will only run when all jobs in the"
    - echo "build stage are complete."

test_b:
  stage: test
  script:
    - echo "This job tests something else. It will only run when all jobs in the"
    - echo "build stage are complete too. It will start at about the same time as test_a."